/* Set Background Color */
body {
  background: #3a5285 !important;
}

/* Stylize About Text*/
.hello {
  font-weight: bolder;
}

.about, .section-description, .hello {
  color: white;
}

/* Social Media Links */
.socials {
  text-align: center;
  font-size: 225%;
}

.fa {
  color: pink;
  margin: 12px;
}

.fa:hover {
  color: white;
  text-decoration: none;
}

/* Spotify Playlist */
.spotify-playlist {
  margin: 20px;
  text-align: center;
}

/* Stylize Section Texts */
.section-title {
  font-weight: bold;
  color: pink;
  margin-top: 10px;
}

.project-link {
  color: white;
  text-decoration: underline;
}

.project-link {
  color: white;
  text-decoration: underline;
}

.project-link:hover {
  color: white;
}

.row {
  margin: 50px;
}

/* Border Around Items */
.msia_page, .photo-section-img, .headshot, .spotify-playlist iframe {
  border-style:outset;
  border-width: 10px;;
  border-color: pink;
  border-radius: 10px;
}
