/* colors: light beige -> #fcf2f6
          darker beige -> #faf5ed; */

header {
  overflow: hidden;
  padding: none;
  background: #f5ecdc;
  font-family: garamond, georgia;
}

/* || Website Logo */
#logo {
  margin: 15px;
  padding: 0;
  float: left;
  font-weight: bold;
  font-stretch: condensed;
  display: inline-flex;
}

/* || Navigation Bar */
.navbar {
  overflow: hidden;
  float: right;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  font-family: garamond, georgia;
  font-weight: bold;
  font-style: oblique;
}

.navbar a {
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  line-height: 40px;
}

.navbar a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.navbar a, #logo a {
  text-decoration: none;
  color: black;
}

/* || Portfolio Dropdown */
.dropdown {
  float: right;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.dropdown-content a {
  display: block;
  float: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.dropdown-content a:hover {
  background-color: grey;
  color: white;
}

/* || Responsive Styling */
@media screen and (max-width: 700px) {
  header {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    flex-direction: row;
    font-size: 75%;
  }
}
