/* * {background-color: #ffc9c9} */
h1, h5 {
  font-style: italic;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: garamond, georgia;
  background-color: #f5ecdc;
}

/* || Header Image*/
/*#header-image-menu {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}*/

#header-image-menu img {
  width: 100%;
  height: auto;
  padding: none;
}

/* || About Me Blurb */

.about-row {
  display: flex;
  flex-wrap: wrap;
}

.about-side, .main-section {
  flex: 50%;
}

/* || Left Side: Image of me in Munich */
.about-side {
  background-color: #fffffa;
  text-align: center;
}
.about-side img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  border-radius: 300px;
}

/* || Right Side: little blurb about me */
.main-section {
  background: #eff5e4;
}
.main-section p {
  display: inline-block;
  margin-top: 20px;
  padding: 100px 100px 50px 100px;
}

/* Buttons below blurb */
.button-group {
  text-align: center;
  margin-bottom: 50px;
  margin-top: none;
}

button {
  background: black;
  color: white;
  padding: 0.75em;
  cursor: pointer;
  border-radius: 10px;
  margin: 0px 20px;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background: white;
  color: black
}

/* || Slideshow of Photographs */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-title, .artwork-section-title, .projects-title{
  text-align: center;
  letter-spacing: 3px;
  padding-top: 50px;
}

.slideshow-title a, .artwork-section-title a {
  text-decoration: none;
  color: black;
}

.slideshow-container img {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.slideshow-image {
  display: none;
  text-align: center;
  padding: 10px;
}

.image-number {
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  color: white;
}

/* Next & previous buttons */
.slideshow-buttons {
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  color: black;
  font-size: 4vw;
  user-select: none;
}

.prev {
  left: 7%;
  top: 50%;
}

.next {
  right: 7%;
  top: 50%;
}

/* || Artwork Grid */
.artwork-section {
  padding-bottom: 50px;
}
 .art-row {
   display: flex;
   flex-wrap: wrap;
   padding-left: 12%;
   padding-right: 12%;
   margin-left: auto;
   margin-right: auto;
 }

 .art-column {
   flex: 25%;
   max-width: 33%;
   padding: 0 4px;
   margin: 4px;
 }

 .art-column img {
   margin-top: 8px;
   width: 100%;
   border-style: solid;
   border-width: thin;
 }

 .art-column a {
   text-decoration: none;
   color: black;
 }

 .art-column img:hover {
   opacity: 0.5;
 }

/* || Responsive Styling */
@media screen and (max-width: 700px) {
  #header-image-text, #header-subtext {
  flex-shrink:
  }

  .about-row {
    flex-direction: column;
  }

  .art-column {
    flex: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
   .art-column {
      flex: 100%;
      max-width: 100%;
   }
}
