.logo {
  text-align: center;
  margin-top: 25px;
  font-weight: bolder;
}

/* navigation menu */
.logo a, .nav-item {
  text-decoration: none;
  color: #ffedfc;
}

.nav-item:hover, .logo a:hover{
  text-decoration: none;
  color:white;
}

.nav-item:hover {
  opacity: 0.7;
}

.nav-item {
  margin: 3px;
  font-weight: bold;
  color: pink;
}
